
@{
    ViewBag.Title = "AllResults";
}


@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

<style>
    .formcontainer{
        display:flex;
        justify-content: space-between;
    }

    form {
        width: 30%;
        display: flex;
    }

    form input[type="submit"] {
        margin-left: 10px;
    }
</style>


<h2>All Results</h2>

<div class="formcontainer">
    <form action="/Database/SearchAllAttempts" method="get">
        <input class="form-control" type="text" name="InputTitle" />
        <input class="btn btn-primary" type="submit" value="Search by Title">
    </form>
    <form action="/Database/SearchAllAttempts" method="get">
        <select class="form-control" name="InputDifficulty">
            @foreach (var Difficulty in ViewBag.ListDifficulty)
            {
                <option value="@Difficulty">@Difficulty</option>
            }
        </select>
        <input class="btn btn-primary" type="submit" value="Select Difficulty">
    </form>
    <form action="/Database/SearchAllAttempts" method="get">
        <select class="form-control" name="InputRating">
            @foreach (var Rating in ViewBag.ListRating)
            {
                <option value="@Rating">@Rating</option>
            }
        </select>
        <input class="btn btn-primary" type="submit" value="Select Rating">
    </form>
</div>

<div class="formcontainer">
    <form action="/Database/AdvancedSearch" method="get">

        <input class="form-control" type="text" name="InputTitle" />

        <select class="form-control" name="InputRating">
            @foreach (var Rating in ViewBag.ListRating)
            {
                <option value="@Rating">@Rating</option>
            }
        </select>

        <select class="form-control" name="InputDifficulty">
            @foreach (var Difficulty in ViewBag.ListDifficulty)
            {
                <option value="@Difficulty">@Difficulty</option>
            }
        </select>

        <input class="btn btn-primary" type="submit" value="Search">
    </form>
</div>

<br />
<table class="table">
    <thead><tr><th></th><th>Title</th><th></th><th>Username</th><th>Difficulty</th><th>Rating</th></tr></thead>
    @for (int i = 0; i < ViewBag.Results.Count; i++)
    {
        <tr><td><img src="@ViewBag.Results[i].image" style="height: 100px" /></td><td>@ViewBag.Results[i].Recipe.Title</td><td><a href="/Home/SearchById?RecipeID=@ViewBag.Results[i].Recipe.RecipeID">Try this recipe?</a><td>@ViewBag.Emails[i]</td><td>@ViewBag.Results[i].Difficulty</td><td>@ViewBag.Results[i].Rating</td></tr>
    }
</table>
