
@{
    ViewBag.Title = "AllResults";
}


@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
<h2>All Results</h2>


<form action="/Database/SearchByAllAttemptsTitle" method="get">
    <input type="text" name="InputTitle" />
    <input type="submit" value="Seach by Title" />
</form>

<form action="/Database/SearchByAllAttemptsDifficulty" method="get">
    <select name="InputDifficulty">
        @foreach (var Difficulty in ViewBag.ListDifficulty)
        {
            <option value="@Difficulty">@Difficulty</option>
        }
    </select>
    <input type="submit" value="Select Difficulty" />
</form>

<form action="/Database/SearchByAllAttemptsRating" method="get">
    <select name="InputRating">
        @foreach (var Rating in ViewBag.ListRating)
        {
            <option value="@Rating">@Rating</option>
        }
    </select>
    <input type="submit" value="Select Rating" />
</form>


<table class="table">
    <thead><tr><th>Title</th><th>Username</th><th>Difficulty</th><th>Rating</th></tr></thead>
    @for (int i = 0; i < ViewBag.Results.Count; i++)
    {
        <tr><td>@ViewBag.Results[i].Recipe.Title</td><td>@ViewBag.Emails[i]</td><td>@ViewBag.Results[i].Difficulty</td><td>@ViewBag.Results[i].Rating</td></tr>
    }
</table>