
@{
    ViewBag.Title = "Level1";
}

<h2>Level1</h2>

<img src="@ViewBag.Photo" style="height: 150px"/><br />

RecipeID: @ViewBag.RecipeID<br />
Cuisine: @ViewBag.Cuisine<br />
<table class="table">
    <thead><tr><th>Name</th><th>Quantity</th><th>Unit</th></tr></thead>
    @for (int i = 0; i < ViewBag.Ingredients.Count; i++)
    {
        <tr><td>@ViewBag.Ingredients[i].Name</td><td>@ViewBag.Ingredients[i].DisplayQuantity</td><td>@ViewBag.Ingredients[i].Unit</td></tr>
        <br />
    }
</table>

@ViewBag.Instructions