
@{
    ViewBag.Title = "RateExperience";
}
@using Microsoft.AspNet.Identity

<div class="jumbotron"><h2>New Experience Form</h2><br /><img src="@ViewBag.PictureURL" /></div>
<div class="container">
    <form action="/Database/SubmitRecipeAttempt" method="post">
        <label>User_ID</label><input type="text"  class="form-control" name="User_ID" value="@User.Identity.GetUserId()" readonly /><br />
        <label>RecipeID</label><input type="text"  class="form-control" name="RecipeID" value="@ViewBag.RecipeID" readonly /><br />
        <label>Difficulty</label><input type="text" class="form-control" name="Difficulty" value="@ViewBag.Difficulty" readonly /><br />
        <label>Rating</label><select type="text"  class="form-control" name="Rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select><br />
        <label>image</label><input type="text" class="form-control" name="image" value="@ViewBag.PictureURL" /><br />
        <input class="btn btn-primary" type="submit" value="Save your cooking creation!" id="searchbox" style="width: 100%"><br />

    </form>
</div>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Hey! Checkout this recipe I made! Think you could make this too?" data-url="@ViewBag.PictureURL" data-show-count="true">Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


    