
@{
    ViewBag.Title = "UserProfile";
}


@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

<div class="container">
    <div class="row">
        <br />
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Your "Recipe Attempt" progress!</strong><br /> - Plotted with Difficulty & Rating
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="Rating Chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Your "Recipe Attempt" List! </strong>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                </div>
                <table class="table table-hover">
                    <thead><tr><th><a href="/Database/OrderByTitle?User_ID=@User.Identity.GetUserId()">Title</a></th><th><a href="/Database/OrderByDifficulty?User_ID=@User.Identity.GetUserId()">Difficulty</a></th><th><a href="/Database/OrderByRating?User_ID=@User.Identity.GetUserId()">Rating</a></th><th>Image</th></tr></thead>
                    @foreach (var Attempt in ViewBag.Results)
                    {
                        <tr>
                            <td class="col-md-2">@Attempt.Recipe.Title: <br /><a href="/Home/ViewRecipe?RecipeID=@Attempt.RecipeID">Full recipe?</a></td>
                            <td class="col-md-2">@Attempt.Difficulty</td>
                            <td class="col-md-2">
                                @for (int i = 0; i < @Attempt.Rating; i++)
                            {
                                <span>&#9733</span>
                            }
                        </td>
                        <td class="col-md-6"><img src="@Attempt.image" style="width: 50%" /></td>
                    </tr>
                    }
                </table>
            </div>
            <!-- /.panel -->
        </div>
     </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<link href="~/Content/startbootstrap-sb-admin-2-gh-pages/vendor/morrisjs/morris.css" rel="stylesheet" />
<script src="~/Content/startbootstrap-sb-admin-2-gh-pages/vendor/morrisjs/morris.js"></script>
<script src="~/Content/startbootstrap-sb-admin-2-gh-pages/vendor/morrisjs/morris.min.js"></script>
<script src="~/Content/startbootstrap-sb-admin-2-gh-pages/vendor/raphael/raphael.js"></script>
<script src="~/Content/startbootstrap-sb-admin-2-gh-pages/vendor/raphael/raphael.min.js"></script>
<script src="~/Content/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.js"></script>
<script src="~/Content/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>

<script>
    var results = @Html.Raw(ViewBag.YourResults)
        new Morris.Bar({
            element: 'Rating Chart',
            data: results,
            xkey: 'Difficulty',
            ykeys: ['Rating'],
            labels: ['Rating','RecipeID'],
            ymax: [5],
            barColors: ['#A37B73']
        });
    var results = @Html.Raw(ViewBag.AllResults)
        new Morris.Bar({
        element: 'All Rating Chart',
        data: results,
        xkey: 'Difficulty',
        ykeys: ['Rating'],
        labels: ['Rating'],
        ymax: [5],
        });
</script>

