
@{
    ViewBag.Title = "UserProfile";
}


@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;

<div class="container">
    <div class="row">
        <div class="col-md-2"><h2 style="text-align: center">Profile: @ViewBag.Username</h2><img id="profile" src="~/Content/Images/dummy-image.jpg" style="height:200px; padding:5px;" />
        @using (Html.BeginForm("ImageUpload", "Cloudinary", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" id="photofile" name="file" size="23" value="Photo" /><br />

        }
        </div>
            <div class="col-md-10">
                <h2 class="text-center">Your Contingency Creations!</h2>
                <table class="table">
                    <thead><tr><th><a href="/Database/OrderByTitle?User_ID=@User.Identity.GetUserId()">Title</a></th><th><a href="/Database/OrderByDifficulty?User_ID=@User.Identity.GetUserId()">Difficulty</a></th><th><a href="/Database/OrderByRating?User_ID=@User.Identity.GetUserId()">Rating</a></th><th>Image</th></tr></thead>
                    @foreach (var Attempt in ViewBag.Results)
                    {
                        <tr><td class="col-md-2">@Attempt.Recipe.Title: <br /><a href="/Home/ViewRecipe?RecipeID=@Attempt.RecipeID">Full recipe?</a></td>
                    <td class="col-md-2">@Attempt.Difficulty</td>
                    <td class="col-md-2">@for (int i = 0; i < @Attempt.Rating; i++)
                    {
                        <span>&#9733</span>
                    }
                    </td>
                    <td class="col-md-6"><img src="@Attempt.image" style="width: 50%" /></td></tr>
                    }
                </table>
            </div>
        </div>
</div>

@*@Ajax.BeginForm()*@

<script>
    $(#photofile).on('click',)
</script>

